header {
    background-color: steelblue;
    padding: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
}
body, html {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

.content {
    position: relative;
}

footer{
    background-color: cadetblue;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.menu {
    padding-top: 50px;
    position: fixed;
    float: left;
}
.content {
    margin-left: 400px;
    
}

.container {
    max-height: 100%;
}

@media (max-width: 768px) {
    .menu {
        position: static;
        float: unset
    }
    .content {
        margin-left: 0;
        
    }
}
li {
    list-style-type: none;
    line-height: 40px
}



